
P {color:green;font-family: 'Press Start 2P', cursive;}
h1 {color:purple;font-family: 'Press Start 2P', cursive;}
h2 {color:green;font-family: 'Press Start 2P', cursive;}
h3 {color:green;font-family: 'Press Start 2P', cursive;}
h6{color:green;font-family: 'Press Start 2P', cursive;}
#img{position:relative;left:350px;top:50px;}
#img1{position:relative;left:400px;}
#img2{position:relative;left:250px;}
#rollover{position:relative;left:1200px;bottom:450px;}

	
nav.horizontal ul li {
				float: left;
				width: 20%;
			}	
	
			li {font-family: 'Press Start 2P', cursive;background-color:yellow;
			li color:purple}
			


body {background-color:black;}

		
			